{{!-- This is the post loop - each post will be output using this markup --}}
<div class="content-cards">
  {{#foreach posts}}
  <article class="content-card {{post_class}}">
    <div class="card">
      <a href="{{url}}" class="card-image {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
        <!-- {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
        {{author}} -->
      </a>
      <header class="card-header">
        <div class="card-title">
          <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
        </div>
      </header>
      <section class="card-body">
        {{excerpt words="18"}}…
      </section>
      <footer class="card-footer">
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
        {{tags prefix=" · "}}
        <a class="post-comment-count" href="{{url}}#isso-thread"></a>
      </footer>
    </div>
  </article>
  {{/foreach}}
</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
