{{!< default}}

{{#post}}

<article class="content-post {{post_class}}" role="main">
  <div class="content-post-title">
    <h1>{{title}}</h1>
  </div>
  <div class="content-post-meta">
    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
  </div>
  <div class="content-post-body">
    {{content}}
  </div>
  <div class="content-post-meta post-meta-tags">
    {{tags}}
  </div>
  <div class="content-post-author">
    {{#author}}
    <div class="tile">
      {{#if profile_image}}
      <div class="tile-icon">
        <figure class="avatar avatar-lg">
          <img src="{{profile_image}}" />
        </figure>
      </div>
      {{/if}}
      <div class="tile-content">
        <p class="tile-title"><strong>{{name}}</strong></p>
        {{#if bio}}
            <p class="tile-subtitle">{{bio}}</p>
        {{else}}
            <p>Read <a href="{{url}}">more posts</a> by this author.</p>
        {{/if}}
      </div>
    </div>
    {{/author}}
  </div>
   <div class="content-post-comments">
    <div class="btn btn-primary btn-block">Post your comments here</a></div>
  </div>
{{!--

You can insert your Disqus universal code below this comment block.
Get the code: https://disqus.com/admin/universalcode/

You will need to fix the thread count in theme.

---

To insert Isso, please specify `data-isso-css="false"`.

Example (Code injection - footer):
  <script data-isso="https://example.com/isso/"
          data-isso-css="false"
          src="https://example.com/isso/js/embed.min.js" async></script>

--}}

  <section id="isso-thread" class="content-post-comments"></section>
</article>
{{/post}}
