{{!-- This is the post loop - each post will be output using this markup --}}
<div class="content-cards">
  {{#foreach posts}}
  <article class="content-card {{post_class}}">
    <div class="card">
      <a href="{{url}}" class="card-image {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
      </a>
      <header class="card-header">
        <div class="card-title">
          <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
        </div>
      </header>
      <section class="card-body">
        <div class="card-body-text">
          {{excerpt words="18"}}…
        </div>
      </section>
      <footer class="card-footer">
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
        {{tags prefix=" · " limit="1"}}
        <a class="post-comment-count" href="{{url}}#isso-thread"></a>
      </footer>
    </div>
  </article>
  {{/foreach}}
</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
